<mat-tab-group backgroundColor="primary" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="project">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Tasks">
        <app-tasks></app-tasks>
      </mat-tab>
      <mat-tab label="Resources">
        <app-resources></app-resources>
      </mat-tab>
      <mat-tab label="allocation">
        <app-allocation></app-allocation>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
  <mat-tab label="reports">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="All Tasks">
        <app-all-tasks></app-all-tasks>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>