<mat-tab-group backgroundColor="primary" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Project">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Tasks">
        <app-tasks></app-tasks>
      </mat-tab>
      <mat-tab label="Resources">
        <app-resources></app-resources>
      </mat-tab>
      <mat-tab label="allocation">
        <app-allocation></app-allocation>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Reports">
    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="All Tasks">
        <app-all-tasks></app-all-tasks>
      </mat-tab>
      
      <mat-tab label="All Resources">
        <app-all-resources></app-all-resources>
      </mat-tab>
    
      <mat-tab label="All Tasks and Resources">
        <app-all-tasks-and-resources></app-all-tasks-and-resources>
      </mat-tab>

      <mat-tab label="Total Cost for each Task">
        <app-total-cost-task></app-total-cost-task>
      </mat-tab>

      <mat-tab label="Total Cost for Whole Project">
        <app-total-cost-project></app-total-cost-project>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
</mat-tab-group>